<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Faisal Alqarni</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="static/css/styles.min.css" />
  </head>

  <body>
    <div class="features-boxed">
      <div class="container">
        <div class="intro">
          <h2
            class="display-4 text-monospace text-center text-info shadow-none"
          >
            Casting Agency<br />
          </h2>
          <p class="text-center text-black-50">
            The Casting Agency models a company that is responsible for creating
            movies and managing and assigning actors to those movies. This is a
            system to simplify and streamline the process.<br />
          </p>
          <p class="text-center text-black-50"><br /></p>
          <h1 class="text-center text-info">Credentials<br /></h1>
        </div>
        <div class="row justify-content-center features">
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box">
              <h3 class="text-info name"><strong>Casting Assistant</strong></h3>
              <p class="description">
                Can view actors and movies only.<br /><br /><br />
              </p>
              <h1 class="text-left text-info description">
                E-mail: assistant@test.com<br />Password: Abc123456<br />
              </h1>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box">
              <h3 class="text-info name"><strong>Casting Director</strong></h3>
              <p class="description">
                Can view actors and movies,&nbsp;Add or delete an actor from the
                database, Modify actors or movies.<br />
              </p>
              <h1 class="text-left text-info description">
                E-mail:&nbsp;director@test.com<br />Password: Abc123456<br />
              </h1>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box">
              <h3 class="text-info name">
                <strong>Executive&nbsp;Producer</strong>
              </h3>
              <p class="description">
                Can view actors and movies,&nbsp;Add or delete an actor or movie
                from the database, Modify actors or movies.<br />
              </p>
              <h1 class="text-left text-info description">
                E-mail:&nbsp;producer@test.com<br />Password: Abc123456<br />
              </h1>
            </div>
          </div>
        </div>
        <a
          class="btn btn-info btn-block btn-lg text-center"
          role="button"
          href="https://faisal-alqarni-fsnd.us.auth0.com/authorize?audience=agincy&response_type=token&client_id=WAA1MbV1tZY7QdVuU0wz7sPZihioalKM&redirect_uri=https://capstone-misk.herokuapp.com/callback"
          >LOG-IN</a
        >
        <p class="text-center text-black-50"><br /></p>
      </div>
    </div>
    <div class="footer-basic">
      <footer>
        <div class="social">
          <a href="https://www.linkedin.com/in/faisalalqarni"
            ><i class="icon ion-social-linkedin"></i></a
          ><a href="https://github.com/FaisalAlqarni"
            ><i class="icon ion-social-github"></i
          ></a>
        </div>
        <p class="text-info copyright">
          <strong>Made with ❤ By: Faisal Al-Qarni</strong>
        </p>
      </footer>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
